# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# macOS
.DS_Store

# Temporary files
disaster.txt

# Application state & private user data
users.json
remember_me.json
remember_user.json
prediction_logs.json
